/*Setting up some fonts that will be used in the webpage*/
@font-face{
    font-family: 'Roboto';
    src: url(Fonts/Roboto-Light.ttf);
}

@font-face{
    font-family: 'Roboto Bold';
    src: url(Fonts/Roboto-Bold.ttf);
}

/*Setting up the formating for the background*/
body{
    background-color: #210070;
    font-family: 'Roboto';
    color: #213970
}

/*=================================================================================================================================================*/
/*============================================================== TITLE ============================================================================*/
/*=================================================================================================================================================*/


/*Formating the elements included in the title of the webpage*/
#title{
    width: 90%;
    margin: 0 auto;
    font-family: 'Roboto Bold';
}

#title h1{
    color: gold;
    margin: 0;
    margin-top: 40px;
    padding: 40px;
    font-size: 128px;
    text-align: center;

}

#title p{
    font-size: 12px;
    text-align: center;
    color: gold;
    margin-bottom: 40px;
}

/*=================================================================================================================================================*/
/*================================================================== HEADINGS =====================================================================*/
/*=================================================================================================================================================*/

/*Formating the headings that appear in the webpage*/
#introheading, #reviewheading{
    margin: 0 auto;
    width: 100%;
    font-family: 'Roboto Bold';
    border-top: 4px solid gold;
    border-bottom: 4px solid gold;
    background-color: lightyellow;
}

#introheading h2, #reviewheading h2 {
    text-align: center;
    font-size: 64px;
    color: black;
    text-decoration: underline;
}


/*=================================================================================================================================================*/
/*=============================================================== INTRO ===========================================================================*/
/*=================================================================================================================================================*/
/*Setting up the formating for the intro div*/
#intro{
    background-color: rgb(250, 250, 210);
    margin: 0 auto;
    margin-bottom: 75px;
    margin-top: 75px;
    width: 60%;
    padding: 20px;
    border: 2px solid gold;
    height: 420px;
}

/*Setting the formating for any image in the intro-picture div*/
#intro-picture img{ 
    float: left;
    height: 400px;
    width: 300px;
    margin-left: 100px;
    border: 2px solid goldenrod;
}

/*Setting the formating for the intro-message div*/
#intro-message{
    float: right;
    width: 36%;
    padding: 20px;
    margin-right: 50px;
    box-shadow: 10px 10px gold;
    background-color: rgb(240, 230, 140);

}

/*Setting the formating for any td elements*/
td{
    border: 2px solid black;
    background-color: white;
}



/*=================================================================================================================================================*/
/*============================================================ TABLE OF CONTENTS ==================================================================*/
/*=================================================================================================================================================*/

/*Setting up the formating for the div that will contain the table of contents*/
#table-of-contents-div{
    width: 29%;
    float: left;
    margin: 40px 10px;
    border: 2px solid black;
    outline: 4px solid gold;
    background-color: lightyellow;
}

/*Setting up some formating for the table of contents itself*/
#table-of-contents{
    margin: 0 auto;
}

/*Setting up the formating for the <p> elements located strictly within the table-of-contents div*/
#table-of-contents-div p{
    color: black;
    font-weight: bold;
    text-align: center;
}

/*Setting up the formating for the <td> elements located specifically within the table-of-contents div*/
#table-of-contents td{
    background-color: white;
    border: 2px solid black;
    width: 450px;
}

/*Setting up the behaviour for the <td> elements in the table-of-contents div when they are hovered on*/
#table-of-contents td:hover{
    background-color: lightyellow;
}

/*Formating for the links that appear in the table-of-contents div*/
#tableOfContentsLink{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Regarding the aforementioned links, this specifies the behaviour of the links when they are hovered upon*/
#tableOfContentsLink:hover{
    text-decoration: underline;
}

/*Formating the <th> elements*/
th{
    color: black;
}



/*=================================================================================================================================================*/
/*============================================================ REVIEW =============================================================================*/
/*=================================================================================================================================================*/

/*Setting up the formating for the actual review table*/
#review-table{
    margin: 40px auto;
    border-collapse: collapse;
    width: 70%;
}

/*Setting up the formating for the div that contains the review table*/
#review-table-div{
    width: 68%;
    background-color: lightcyan;
    float: right;
    margin-top: 36px;
}

/*This div basically encompases the actual album cover, we don't want it to be too large*/
#album-cover{
    width: 175px;
    height: 175px;
    margin: 40px 40px;;
    border: 2px solid black;
    box-shadow: 0px 40px 37px -28px black;

}

/*Setting the formating for the album cover segment of the table*/
#album-cover-id{
    background-color: white;
}

/*Setting the formating for the album title segment of the review*/
#album-title{
    font-weight: bold;
    background-color: black;
    text-align: center;
}

/*Setting the formating for the link and when you (the user) hover over the link*/
#link {
    color: gold;
}

#link:hover{
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: black;
}

/*Setting the formating for the artist's name segment of the review*/
#artist-name-id{
    width: 50%;
    text-align: center;
}

/*Setting the formating for the rating segment of the review*/
#rating-id{
    width: 50%;
    text-align: center;
}

/*Setting the formating for the thoughts segment of the review*/
#thoughts{
    padding: 20px;
}
